<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Brand Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/']">Home</a>
      </li> -->
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" (ngModelChange)="searchMovie(keyWord)" ngModel="" type="search" #keyWord placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchMovie(keyWord)" type="submit">Search</button>
      <ul class="dropdown-list">
        <li class="dropdown-list-item" *ngFor="let item of searchData.Search">
          <a class="nav-link" [routerLink]="['/detail/', item.Title]" [queryParams]="{'id': item.imdbID}">{{item.Title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>