<div class="form">
  <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <p>Fill this Form with your credit card details.</p>
    <div class="custom-form-group" >
      <div class="form-group w-70" [ngClass]="{'error' : f.cardNumber.touched && f.cardNumber.invalid}">
        <label for="exampleInputEmail1">Card Number</label>
        <input type="number" minlength="16" class="form-control"  name="cardNumber" formControlName="cardNumber" required>
        <div *ngIf="f.cardNumber.invalid && (f.cardNumber.errors?.minlength || f.cardNumber.touched)" class="alert">
          <div *ngIf="f.cardNumber.errors?.required">  Card Nubmer is required.</div>
          <div *ngIf="f.cardNumber.errors?.minlength"> Card Nubmer must be at least 16 characters long.</div>
        </div>
        
      </div>
      <div class="form-group w-30">
        <label for="exampleInputEmail1">Expire</label>
        <input type="date" class="form-control" name="cardexpire" formControlName="cardexpire" required>
        <div *ngIf="f.cardexpire.invalid && (f.cardexpire.dirty || f.cardexpire.touched)" class="alert">
          <div *ngIf="f.cardexpire.errors?.required">  Card Expirey is required.</div>
        </div>
      </div>
    </div>
    <div class="custom-form-group">
      <div class="form-group w-70">
        <label for="exampleInputEmail1">Name on Card</label>
        <input type="text" class="form-control" name="cardname" formControlName="cardname" required>
        <div *ngIf="f.cardname.invalid && (f.cardname.dirty || f.cardname.touched)" class="alert">
          <div *ngIf="f.cardname.errors?.required">  Card Name is required.</div>
        </div>
      </div>
      <div class="form-group w-30">
        <label for="exampleInputEmail1">Code</label>
        <input type="text" class="form-control" name="cardCode" formControlName="cardCode" required>
        <div *ngIf="f.cardCode.invalid && (f.cardCode.dirty || f.cardCode.touched)" class="alert">
          <div *ngIf="f.cardCode.errors?.required">  Card Code is required.</div>
        </div>
      </div>
    </div>
    <small class="block"><i class="fas fa-lock"></i> Secure Payment</small>
    <button type="submit" class="btn btn-primary">Pay with Credit Card</button>
  </form>
</div>